<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Form</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="icon" href="/images/favicon.png" type="icon" />
        <noscript>
            <link rel="stylesheet" href="assets/css/noscript.css" />
        </noscript>
        <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <a href="index" class="logo"> <span class="fa fa-book"></span> <span class="title">Online Book
                            Store</span> </a>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
                <ul>
                    <li><a href="/index" class="active">Home</a></li>
                    <li><a href="/products">Books</a></li>
                    <li><a href="/addbook">AddBook</a></li>
                    <li><a href="/user_detail">User Detail</a></li>
                    <li><a href="/checkout">Purchase Book</a></li>
                    <li><a href="/login">Adminstration</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">About</a>
                        <ul>
                            <li><a href="about">About Us</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="testimonials">Testimonials</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>
            <style>
                h2 {
                    text-align: center;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            </style>
    </head>
    <body>
        <h2>
            <%= title%>
        </h2>
        <form action="/user_edit" method="post">
            <div>
                <label>UserId</label>
                <input type="number" id="uesrId" name="userId" value="<%= user.uesrId%>" />
                <label>User Name</label>
                <input type="text" id="username" name="userName" value="<%= user.username%>" />
                <label>Email</label>
                <input type="text" id="email" name="email" value="<%= user.email%>" />
                <label>Phone</label>
                <input type="text" id="phone" name="phone" value="<%= user.phone%>" />
                <label>Address</label>
                <input type="text" id="address" name="address" value="<%= user.address%>" /><br>
                <label>City</label>
                <input type="text" id="city" name="city" value="<%= user.city%>" /><br>                    <label>State</label>
                <input type="text" id="state" name="state" value="<%= user.state%>" /><br>
                <label>Payment</label>
                <input type="text" id="payment" name="payment" value="<%= user.payment%>" /><br>
                <label>BookId</label>
                <input type="text" id="bookid" name="bookid" value="<%= user.bookid%>" /><br>
                <label>Quantity</label>
                <input type="text" id="quantity" name="quantity" value="<%= user.quantity%>" /><br>
                <button type="submit">Update</button>
            </div>
        </form>
    </body>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
</html>
