<!DOCTYPE html>
<html>
    <head>
    <title>User Details</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="icon" href="/images/favicon.png" type="icon" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Logo -->
                <a href="index" class="logo"> <span class="fa fa-book"></span> <span class="title">Online Book
                        Store</span> </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/products">Books</a></li>
                <li><a href="/addbook">AddBook</a></li>
                <li><a href="/user_detail">User Detail</a></li>
                <li><a href="/checkout">Purchase Book</a></li>
                <li><a href="/login">Adminstration</a></li>
                <li>
                    <a href="#" class="dropdown-toggle">About</a>
                    <ul>
                        <li><a href="about">About Us</a></li>
                        <li><a href="blog">Blog</a></li>
                        <li><a href="testimonials">Testimonials</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <style>
            h2 {
                text-align: center;
                color: rgb(5, 48, 238);
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }
            td {
                padding: 0%;
            }
            th {
                background-color: rgb(125, 248, 248);
                padding: 0.2em 0.2em;
            }
            th,
            td {
                border-collapse: collapse;
                padding: 0.2em 0.2em;
                text-align: left;
                border: 2px solid rgb(190, 190, 190);
            }
            .btn1 {
              background-color: rgb(10, 185, 25);
              margin: 0%;
              padding: 0%;
              width: 50px;
              height: 30px;
              font-size: 11px;
              font-family: Arial, Helvetica, sans-serif;
            }
            div {
                padding: 5px;
            }
        </style>
    </head>
        <body>
            <h2>
                <%= title %>
            </h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>UserId</th>
                            <th>UserName</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Payment</th>
                            <th>BookId</th>
                            <th>Quantity</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% user.forEach(function(user){ %>
                            <tr>
                                <td>
                                    <%= user.uesrId %>
                                </td>
                                <td>
                                    <%= user.username %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.phone %>
                                </td>
                                <td>
                                    <%= user.address %>
                                </td>
                                <td>
                                    <%= user.city %>
                                </td>
                                <td>
                                    <%= user.state %>
                                </td>
                                <td>
                                    <%= user.payment %>
                                </td>
                                <td>
                                    <%= user.bookid%>
                                </td>
                                <td>
                                    <%= user.quantity %>
                                </td>
                                <td>
                                    <a href="/user_edit/<%= user.uesrId %>"><button class="btn1">Edit</button></a>
                                    <a href="remove/<%= user.uesrId %>"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <a href="/add"></a>
            </div>
    </body>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
</html>
